<div id="model-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Enter details for your challenge</h3>
        </div>
        <div class="modal-body">
            <form class="form-inline" name="challengeForm" novalidate>
                <input type="text" name="description" placeholder="Enter description" required ng-model="description" />
            </form>
        </div>
        <div class="modal-footer">
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="createChallenge(description)">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
~